header{
    min-height: 90vh;
    background-image: url(/img/background/background_header_3.png);
    background-size: cover;
    background-position: 70% 70%;
}
header .container{
    margin: 0 10% 25px;
    max-width: 650px;
    padding: 175px 0 50px;
}
header .container h1{
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    opacity: 0;
    animation: fadeIn 0.3s 0.2s ease forwards;
}
header .container hr{
    border: 2px solid black;
    border-radius: 6px;
    opacity: 0;
    animation: fadeIn 0.3s 0.3s ease forwards;
}
header .container p{
    line-height: 150%;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.7);
    margin: 15px 0;
    opacity: 0;
    animation: fadeIn 0.3s 0.5s ease forwards;
}
header .container .btns{
    display: flex;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.3s 0.75s ease forwards;
}
header .container .btns a{
    color: white;
    background-color: black;
    margin: 10px 10px 10px 0;
    padding: 14px;
    border-radius: 6px;
    font-weight: 500;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s, padding 0.3s;
}
header .container .btns a:hover{
    background-color: white;
    color: black;
    padding: 14px 22px;
}
#presentation{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 50px auto;
    max-width: 1200px;
    min-width: 325px;
    padding: 8px;
    border-radius: 6px;
    color: white;
    background: linear-gradient(to right, #5b5b5b, #000000);
}
#presentation div:not(.para){
    margin: 20px;
}
#presentation div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#presentation div h2{
    font-family: 'Anton', sans-serif;
    font-size: 2.2rem;
}
#presentation div p{
    line-height: 175%;
    margin: 15px 0;
}
#presentation div a{
    width: 100%;
    background: linear-gradient(to right, #000000, #575757);
    background-size: 200% 200%;
    animation: gradientAnimation 3s linear infinite;
    color: white;
    display: block;
    padding: 12px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    transition: transform 0.3s;
}
#presentation div a:hover{
    transform: scale(1.08);
    animation-play-state: paused;
}
#presentation img{
    border-radius: 6px;
}
#service{
    margin: 200px auto 50px;
    min-height: 50vh;
    background-color: #161616;
}
#service #infos{
    width: 80%;
    max-width: 1200px;
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
    min-height: 125px;
    margin: auto;
    border-radius: 60px;
    position: relative;
    bottom: 62px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#service h2{
    text-align: center;
    color: white;
    font-size: 2.2rem;
}
#service p{
    max-width: 1200px;
    font-size: 17px;
    color: white;
    margin: 25px auto;
    line-height: 200%;
}
#service .btns a{
    max-width: 1200px;
    background: linear-gradient(to right, #161616, #696969);
    background-size: 200% 200%;
    animation: gradientAnimation 3s linear infinite;
    color: white;
    display: block;
    margin: 15px auto;
    padding: 12px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    transition: transform 0.3s;
}
#service .btns a:hover{
    transform: scale(1.08);
    animation-play-state: paused;
}
#service #infos div{
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
}
#contact .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 50px 0;
}
#contact .container div{
    background-color: black;
    background-size: cover;
    flex-basis: 40%;
    margin: 10px;
    flex-grow: 1;
    min-height: 300px;
    border-radius: 6px;
    position: relative;
    color: white;
    z-index: 1;
}
#contact .container div p{
    text-shadow: 1px 1px 1px black;
    line-height: 175%;
    margin: 15px;
}
#contact .container div h3{
    font-size: 1.8rem;
    text-shadow: 1px 1px 1px black;
    margin: 15px;
}
#contact .container div::before{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
    border-radius: 6px;
}
#contact .container div:hover::before{
    background-color: rgba(0, 0, 0, 0.65);
}
#contact h2{
    margin: 15px 15px -5px;
    font-size: 2.6rem;
}
@media screen and (max-width: 900px) {
    header .container{
        margin: auto;
        width: calc(100% - 20px);
        padding: 45px 0 40px;
    }
    header .container h1{
        font-size: 2.1rem;
        text-align: center;
    }
    header .container hr{
        margin: 5px;
    }
    header .container p{
        margin: 15px 5px;
        text-align: justify;
    }
    header .container .btns{
        width: 100%;
        margin: 30px auto 10px;
    }
    header .container .btns a{
        width: 100%;
        text-align: center;
    }
    header .container .btns a:hover{
        background-color: white;
        color: black;
        padding: 14px 22px;
    }
    #presentation{
        width: calc(100% - 20px);
        padding: 20px;
    }
    #presentation div:not(.para){
        max-width: 500px;
        width: calc(100%);
        margin: 25px auto;
    }
    #presentation h2{
        text-align: center;
    }
    #presentation p {
        text-align: justify;
        margin: 15px;
    }
    #presentation a{
        margin: 25px auto;
    }
    #presentation img{
        width: 90%;
        max-width: 500px;
        margin: auto;
        display: block;
    }
    #presentation{
        flex-direction: column;
    }
    #service{
        padding-bottom: 25px;
    }
    #service #infos{
        flex-wrap: wrap;
    }
    #service p{
        text-align: justify;
        margin: 25px;
    }
    #service .btns a{
        margin: 15px;
    }
    #contact .container div {
        flex-basis: 300px;
        min-height: 300px;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}