header{
    min-height: 90vh;
    background-image: url(/img/background/background_header_3.png);
    background-size: cover;
    background-position: 70% 70%;
}
header .container{
    margin: 0 10% 25px;
    max-width: 650px;
    padding: 175px 0 50px;
}
header .container h1{
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    opacity: 0;
    animation: fadeIn 0.3s 0.2s ease forwards;
}
header .container hr{
    border: 2px solid black;
    border-radius: 6px;
    opacity: 0;
    animation: fadeIn 0.3s 0.3s ease forwards;
}
header .container p{
    line-height: 150%;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.7);
    margin: 15px 0;
    opacity: 0;
    animation: fadeIn 0.3s 0.5s ease forwards;
}
header .container .btns{
    display: flex;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.3s 0.75s ease forwards;
}
header .container .btns a{
    color: white;
    background-color: black;
    margin: 10px 10px 10px 0;
    padding: 14px;
    border-radius: 6px;
    font-weight: 500;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s, padding 0.3s;
}
header .container .btns a:hover{
    background-color: white;
    color: black;
    padding: 14px 22px;
}
